$footer-height: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-height;
}

footer {
  position: absolute;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  background-color: #212529;
}

#page-content {
  padding-bottom: $footer-height;
}

.author-pic {
  height: 200px;
  width: 200px;
}
